<?xml version="1.0"?>
<!-- /**
 * Magiccart 
 * @category    Magiccart 
 * @copyright   Copyright (c) 2014 Magiccart (http://www.alothemes.com/) 
 * @license     http://www.alothemes.com/license-agreement.html
 * @Author: DOng NGuyen<nguyen@dvn.com>
 * @@Create Date: 2016-02-23 18:59:34
 * @@Modify Date: 2020-07-29 17:17:22
 * @@Function:
 */ -->
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magiccart" translate="label" sortOrder="89">
            <label>Magiccart</label>
        </tab>
        <section id="magiccart_magicproduct" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Magicproduct</label>
            <tab>magiccart</tab>
            <resource>Magiccart_Magicproduct::config_magicproduct</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="0"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <comment>Enable frontend</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ua_regexp" translate="label comment tooltip" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>User-Agent Exceptions</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Regexceptions</frontend_model>
                    <backend_model>Magento\Theme\Model\Design\Backend\Exceptions</backend_model>
                    <comment>
                        <![CDATA[Search strings are either normal strings or regular exceptions (PCRE). They are matched in the same order as entered. Examples:<br /><span style="font-family:monospace">Firefox<br />/^mozilla/i</span>]]>
                    </comment>
                    <tooltip>Find a string in client user-agent header and switch to specific design theme for that browser.</tooltip>
                </field>
            </group>
<!--             <group id="implement" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Implement Code</label>
                <frontend_model>Magiccart\Magicproduct\Block\Adminhtml\System\Config\Implementcode</frontend_model>
            </group> -->
        </section>
    </system>
</config>
